<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
    </ol>
</nav>

<h4>
    <b>Kontakt</b>
</h4>

<br />

<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Dekanat</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">(011) 324-8464</li>
                <li class="list-group-item">(011) 324-8681</li>
                <li class="list-group-item">
                    <a href="mailto:dekanat@etf.bg.ac.rs">dekanat@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Studentski odsek</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Dragana Trenevski</li>
                <li class="list-group-item">(011) 3226-760</li>
                <li class="list-group-item">
                    <a href="mailto:stud_sluzba@etf.bg.ac.rs"> stud_sluzba@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Opšti odsek</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Miloš Nalović</li>
                <li class="list-group-item">(011) 3226-992</li>
                <li class="list-group-item">
                    <a href="mailto:opsta_sluzba@etf.bg.ac.rs">opsta_sluzba@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 20rem;">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Računovodstvo</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mirjana Vlajković</li>
                <li class="list-group-item">(011) 3370-146</li>
                <li class="list-group-item">(011) 3370-077</li>
            </ul>
        </div>
    </div>
</div>

<h4>
    <b>Katedra RTI</b>
</h4>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Šef katedre: prof. dr Jelica Protić</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zgrada tehničkih fakulteta, kancelarija 18</li>
                <li class="list-group-item">011/3218-456</li>
                <li class="list-group-item">
                    <a href="mailto:jeca@etf.bg.ac.rs">jeca@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Zamenik: prof. dr Igor Tartalja</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zgrada tehničkih fakulteta, kancelarija 18</li>
                <li class="list-group-item"> 011/3218-456</li>
                <li class="list-group-item">
                    <a href="mailto:tartalja@etf.bg.ac.rs"> tartalja@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 style="padding-bottom: 0.5cm; padding-left: 0.3cm;">
                <b>Sekretar: doc. dr Marko Mišić</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zgrada "Lola", kancelarija 916</li>
                <li class="list-group-item"> 011/3218-392</li>
                <li class="list-group-item">
                    <a href="mailto:marko.misic@etf.bg.ac.rs">marko.misic@etf.bg.ac.rs</a>
                </li>
            </ul>
        </div>
    </div>
</div>