<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Osnovne studije</a></li>
        <li class="breadcrumb-item"><a href="/si">SI</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{predmet.naziv}}</li>
    </ol>
</nav>

<div class="content-wrap" igxLayout>
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true" [pin]="true" [pinThreshold]="0">
        <ng-template igxDrawer>
            <nav>
                <span igxDrawerItem [isHeader]="true">{{ predmet.naziv }} </span>

                <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple
                    (click)="navigate(item)">
                    <igx-icon fontSet="material">{{ item.name }}</igx-icon>
                    <span>{{ item.text }}</span>
                </span>
            </nav>
        </ng-template>
    </igx-nav-drawer>

    <main igxFlex>
        <span igxButton="icon" igxToggleAction="navigation">
            <igx-icon fontSet="material">menu</igx-icon>
        </span>
        <h6> {{predmet.naziv}} </h6>
        <h5><b> {{selected}} </b></h5>

        <div *ngIf="selected == 'Obavestenja o predmetu'">
            <table *ngIf="predmet.obavestenja != 0; else noOb">
                <div *ngFor="let ob of predmet.obavestenja" style="padding-top: 1cm;">
                    <div style="color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                        *ngIf="ob.flag != 0; else noDate">
                        <i>
                            {{ob.datum}}
                            {{ob.text}}
                        </i>
                        <span *ngIf="ob.putanja != null">
                            <a href="{{ob.putanja}}">
                                link
                            </a>
                        </span>
                    </div>

                    <ng-template #noDate>
                        {{ob.datum}}
                        {{ob.text}}
                        <span *ngIf="ob.putanja != null">
                            <a href="{{ob.putanja}}">
                                link
                            </a>
                        </span>
                    </ng-template>
                </div>
            </table>
            <ng-template #noOb>
                Ne postoji sekcija Obavestenja za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Informacije o predmetu'">
            <table *ngIf="predmet.informacije != null; else noInfo" border="1">
                <tr>
                    <td>Tip</td>
                    <td>Sifra</td>
                    <td>Fond casova</td>
                    <td>ESPB</td>
                </tr>
                <tr *ngFor="let ob of predmet.informacije" style="text-align: center;">
                    <td>
                        {{ob.tip}} predmet
                    </td>
                    <td>
                        {{predmet.sifra}}
                    </td>
                    <td>
                        {{ob.fond}}
                    </td>
                    <td>
                        {{ob.poeni}}
                    </td>
                </tr>
            </table>
            <div *ngIf="predmet.informacije != null; else noInfo" style="padding-top: 0.5cm;">
                <div *ngFor="let ob of predmet.informacije">
                    {{ob.cilj}}
                    <div>
                        <b *ngIf="ob.predavanja != null">
                            Predavanja
                        </b>

                        <div *ngFor="let o of ob.predavanja">
                            P {{o.grupa}}-------------------{{o.nastavnik}}
                            <br>
                        </div>
                    </div>
                    <div>
                        <b *ngIf="ob.vezbe != null">
                            Vezbe
                        </b>
                        <div *ngFor="let o of ob.vezbe">
                            V {{o.grupa}}-------------------{{o.nastavnik}}
                            <br>
                        </div>
                    </div>

                </div>
            </div>
            <ng-template #noInfo>
                Ne postoji sekcija Informacije za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Predavanja'">
            <table *ngIf="predmet.predavanja != null; else noPr">
                Prezentacije sa predavanja
                <tr *ngFor="let ob of predmet.predavanja">
                    <td>
                        <a href="{{ob.putanja}}">
                            {{ob.text}}
                        </a>
                    </td>
                    <br>
                </tr>
            </table>
            <ng-template #noPr>
                Ne postoji sekcija Predavanja za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Vezbe'">
            <table *ngIf="predmet.vezbe != null; else noVez">
                Prezentacije sa vezbi
                <tr *ngFor="let ob of predmet.vezbe">
                    <td>
                        <a href="{{ob.putanja}}">
                            {{ob.text}}
                        </a>
                    </td>
                    <br>
                </tr>
            </table>
            <ng-template #noVez>
                Ne postoji sekcija Vezbe za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Ispitna pitanja'">
            <table *ngIf="predmet.ispit != null; else noIspit">
                <tr>
                    <td>Ispitni rok</td>
                    <td>Fajl</td>
                </tr>
                <tr *ngFor="let ob of predmet.ispit">
                    <td>
                        {{ob.text}}
                    </td>
                    <td>
                        <a href="{{ob.putanja}}">
                            {{ob.putanja}}
                        </a>
                    </td>
                    <br>
                </tr>
            </table>
            <ng-template #noIspit>
                Ne postoji sekcija Ispitna pitanja za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Laboratorija'">
            <table *ngIf="predmet.laboratorija != null; else noLab">
                <b>Informacije o laboratorijama:</b>
                <tr *ngFor="let ob of predmet.laboratorija">
                    <td>
                        {{ob.informacije}}
                    </td>
                    <br>
                </tr>
                <b>Fajlovi:</b>
                <tr *ngFor="let ob of predmet.laboratorija;">
                    <div *ngFor="let o of ob.materijali ">
                        <a href="{{o}}">
                            {{o}}
                        </a>
                    </div>
                    <br>
                </tr>
            </table>

            <ng-template #noLab>
                Ne postoji sekcija Laboratorija za ovaj predmet!
            </ng-template>
        </div>
        <div *ngIf="selected == 'Projekat / Domaci zadaci'">
            <table *ngIf="predmet.projekat != null; else noProj">
                <b>Informacije o projektu:</b>
                <tr *ngFor="let ob of predmet.projekat">
                    <td>
                        {{ob.informacije}}
                    </td>
                    <br>
                </tr>
                <b>Fajlovi:</b>
                <tr *ngFor="let ob of predmet.projekat">
                    <div *ngFor="let o of ob.materijali ">
                        <a href="{{o}}">
                            {{o}}
                        </a>
                    </div>
                    <br>
                </tr>
            </table>
            <ng-template #noProj>
                Ne postoji sekcija Projekat / Domaci zadaci za ovaj predmet!
            </ng-template>
        </div>

    </main>
</div>