<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Nauka</a></li>
        <li class="breadcrumb-item active" aria-current="page">Istrazivanja</li>
    </ol>
</nav>

<div class="row" style="padding-top: 1cm;">
    <div class="col-8 offset-2 col-sm-8 offset-sm-2">
        Na Elektrotehnickom fakultetu trenutno postoje dve grupe koje se bave raznim istrazivanjima. Vise o grupama
        mozete saznati na njihovim sajtovima.
    </div>
</div>

<div class="row">
    <div class="col-2 offset-5 col-sm-3 offset-sm-5">
        <b>Istrazivacke grupe:</b>
        <ul style="list-style-type: d;">
            <a href="http://rti.etf.bg.ac.rs/rti/ebi/">
                <ol>EBI Group</ol>
            </a>
            <a href="https://rti.etf.bg.ac.rs/rti/acm/">
                <ol>ACM Group</ol>
            </a>
        </ul>
    </div>
</div>