<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Projekti</li>
    </ol>
</nav>

<div class="row">
    <div class="col-4 col-sm-4">

        <div class="row" style="padding-left: 3cm;">
            <img style="width: 40%; height: 40%;" src="../assets/digsilent.jpg">
        </div>


        <div class="row" style="padding-left: 3cm; padding-top: 2cm;">
            <img style="width: 40%; height: 40%;" src="../assets/huawei.png">
        </div>

        <div class="row" style="padding-left: 3cm; padding-top: 2cm;">
            <img style="width: 40%; height: 40%;" src="../assets/sbb.png">
        </div>

    </div>
    <div class="col-8 col-sm-8">
        <u>
            <h5> Ponuda projekata </h5>
        </u>
        <ul style="list-style-type:circle; padding-top: 0.6cm;">
            <li>Sudska vestacenja za Visi sud u Beogradu</li>
            <li>Razvoj network and service reporting system softverske platforme</li>
            <li>Obuka za program DIgSiLENT</li>
            <li>Konsultacije za Huawei</li>
            <li> Tehno-ekonomska analiza proizvodnje vodonika iz biodizela i njegova upotreba za proizvodnju elektricne
                energije u gorivnim celijama za pogon elektricnih vozila</li>
            <li>Sudska vestacenja SBB</li>
            <li>Sistem za praćenje solarnih postrojenja-SOFIS</li>
            <li>Hibridni Mozak racunar interfejs za upravljanje senzo-motornim uparivanjem u rehabilitaciji nakon
                mozdanog udara - Projekat Promis</li>
            <li>Analiza i strucno misljenje o racunarima zaposlenih</li>
            <li>Hardverska, softverska, telekomunikaciona i energetska optimizacija IPTV sistema-NASTAVAK </li>
            <li>Algoritmi i softveri za simulaciju u frekverncijskom i vremenskom domenu RF podsistema i
                elektromagnetskih senzora u IST-NASTAVAK</li>
            <li>Fotonika mikro i nano strukturnih materijala-NASTAVAK</li>
            <li>Akusticko zoniranje Beograda</li>
            <li> Sistem za automatsku detekciju ispravnosti kuglica</li>
            <li>Elektromagnetska kompatibilnost i pratece simulacije</li>
            <li> Ispitivanje i podesavanje regulacije</li>

        </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4 offset-5 col-sm-4 offset-sm-5">
        <h4>Teme za diplomski rad</h4>
    </div>
</div>
<div class="row" style=" padding-top: 1cm">
    <div class="col-sm-4">
        <div class="card" style="width: 67rem; margin-left: 5cm;">
            <h5 style="text-align: center;">
                <b>Tema: Poređenje penetration testing softvera</b>
            </h5>
            <h5 style="text-align: center;">Oblast: Zaštita podataka </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kontakt: Dr Žarko Stanisavljević, docent</li>
                <li class="list-group-item">Penetration testing softver bavi se nadziranjem infrastrukture
                    organizacija
                    i prijavljivanjem sigurnosnih propusta. Funkcionise tako sto se neprekidno prate novi sigurnosni
                    propusti i javlja se administratorima kako da ih poprave. Cilj bi mogao biti pravljenje pregleda
                    postojećeg softvera uz uporednu analizu.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style=" padding-top: 1cm">
    <div class="col-sm-4">
        <div class="card" style="width: 67rem; margin-left: 5cm;">
            <h5 style="text-align: center;">
                <b>Tema: Web aplikacija za sakupljanje, praćenje i analizu studentskih zadataka iz Pico computer-a</b>
            </h5>
            <h5 style="text-align: center;">Oblast: Programiranje, Internet programiranje, Baze podataka </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kontakt: Dr Jelica Protić, vanredni profesor / Sofija Purić, asistent</li>
                <li class="list-group-item">Kratak opis: Na osnovu automatskog testiraja i tekstualnog uparivanja sa
                    više tačnih rešenja klasifikuju se greške studenata , klasterizuju se i generiše statistika.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style=" padding-top: 1cm">
    <div class="col-sm-4">
        <div class="card" style="width: 67rem; margin-left: 5cm;">
            <h5 style="text-align: center;">
                <b>Tema: Evaluacija rada stemera za srpski jezik</b>
            </h5>
            <h5 style="text-align: center;">Oblast: Procesiranje prirodnih jezika (NLP – Natural Language Processing)
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kontakt: Dr Boško Nikolić, vanredni profesor</li>
                <li class="list-group-item">Kratak opis: Stemeri su alati koji omogućavaju morfološku normalizaciju
                    različitih oblika reči (npr. različitih padežnih oblika) tako što uklanjaju njihove sufikse i svode
                    ih na isti osnovni tj. stemovan oblik. Projekat se sastoji iz razvoja i primene alata koji bi
                    olakšao procenu kvaliteta rada postojećih stemera tako što bi evaluatorima ponudio vizuelni
                    interfejs za ocenjivanje i korekciju ispravnosti rada stemera.</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4 offset-5 col-sm-4 offset-sm-5">
        <h4>Teme za master rad</h4>
    </div>
</div>
<div class="row" style=" padding-top: 1cm">
    <div class="col-sm-4">
        <div class="card" style="width: 67rem; margin-left: 5cm;">
            <h5 style="text-align: center;">
                <b>Tema: Algoritmi za detekciju vizuelne paznje</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kontakt: katedra za Signale i sisteme</li>
                <li class="list-group-item">Kratak opis: Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style=" padding-top: 1cm">
    <div class="col-sm-4">
        <div class="card" style="width: 67rem; margin-left: 5cm;">
            <h5 style="text-align: center;">
                <b>Tema: Navigacija, mapiranje prostora i autonomno kretanje mobilne robotske platfrome</b>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kontakt: katedra za Signale i sisteme</li>
                <li class="list-group-item">Kratak opis: Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
            </ul>
        </div>
    </div>
</div>