<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Pocetna strana</a></li>
        <li class="breadcrumb-item"><a href="/zaposlen">Zaposlen</a></li>
        <li class="breadcrumb-item active" aria-current="page">Zaposlen profil</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-2">
        <ul>
            <li>
                <a href="/">Pocetna</a>
            </li>
            <li style="padding-top: 1cm;">
                <a href="/zaposlen-profil">Profil</a>
            </li>
            <li style="padding-top: 1cm;">
                <a href="/zaposlen_predmet">Predmeti</a>
            </li>
            <li style="padding-top: 1cm;">
                <a href="/zaposlen_obavestenje">Obavestenja</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-6">
                &nbsp; &nbsp;&nbsp; Korisnicko ime:
                <span style="color:red">*</span>
                <input type="text" name="username" [(ngModel)]="username" placeholder="{{zaposlen.username}}">
            </div>
            <div class="col-sm-6" style="padding-left: 1cm;">
                &nbsp; &nbsp;&nbsp;&nbsp; Lozinka:
                <span style="color:red">*</span>
                <input type="password" name="password" [(ngModel)]="password" placeholder="{{zaposlen.password}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                &nbsp; &nbsp;&nbsp; Ime:
                <span style="color:red">*</span>
                <input type="text" name="name" [(ngModel)]="name" placeholder="{{zaposlen.name}}">
            </div>
            <div class="col-sm-6" style="padding-left: 1cm;">
                &nbsp; &nbsp;&nbsp;&nbsp;Prezime:
                <span style="color:red">*</span>
                <input type="text" name="surname" [(ngModel)]="surname" placeholder="{{zaposlen.surname}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                &nbsp; &nbsp;&nbsp; Adresa:
                <input type="text" name="address" [(ngModel)]="address" placeholder="{{zaposlen.address}}">
            </div>
            <div class="col-sm-6" style="padding-left: 1cm;">
                &nbsp; &nbsp;&nbsp;&nbsp; Telefon:
                <input type="tel" name="phone" [(ngModel)]="phone" placeholder="{{zaposlen.phone}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                &nbsp; &nbsp;&nbsp;&nbsp; Veb:
                <input type="text" name="web" [(ngModel)]="web" placeholder="{{zaposlen.web}}">
            </div>
            <div class="col-sm-6" style="padding-left: 1cm;">
                &nbsp;&nbsp;&nbsp;&nbsp; Zvanje:
                <span style="color:red">*</span>
                <select id="studije" [(ngModel)]="title">
                    <option value="Redovni profesor">Redovni profesor</option>
                    <option value="Vanredni profesor">Vanredni profesor</option>
                    <option value="Docent">Docent</option>
                    <option value="Asistent">Asistent</option>
                    <option value="Saradnik u nastavi">Saradnik u nastavi</option>
                    <option value="Istrazivac">Istrazivac</option>
                    <option value="Laboratorijski inzenjer">Laboratorijski inzenjer</option>
                    <option value="Laboratorijski tehnicar">Laboratorijski tehnicar</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                &nbsp; &nbsp;&nbsp; Kabinet:
                <span style="color:red">*</span>
                <input type="text" name="cabinet" [(ngModel)]="cabinet" placeholder="{{zaposlen.cabinet}}">
            </div>
            <div class="col-sm-6" style="padding-left: 1cm;">
                &nbsp; &nbsp;&nbsp;&nbsp; Slika:
                <input type="file" name="photo" [(ngModel)]="photo">
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-4 col-sm-2 offset-sm-5" style="padding-top: 0.5cm;">
                <button (click)='changeZ()' type="button" class="btn btn-dark">Change</button>
            </div>
        </div>
    </div>
</div>